<%- include("../partials/header.ejs") %>
<div class="container">
	<div class ="row">
		<div class="col-md-3">
			<p class="lead">ChowCritic</p>
			<div class="list-group">
				<li class="list-group-item active"> info 1 </li>
				<li class="list-group-item"> info 2 </li>
				<li class="list-group-item"> info 3 </li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%=restaurant.image%>">
				<div class="caption-full">
					<h4 class="pull-right"> $25/night </h4>
					<h4><a><%= restaurant.name %></a></h4>
					<p><%= restaurant.description %></p>
					<p>
						<em>Created By: <%= restaurant.author.username %></em>
					</p>
					
					<form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
						<a class="btn btn-info btn-lg" href="/restaurants/<%= restaurant._id %>/edit">make changes</a>
						<button class="btn btn-danger btn-lg">remove</button>
					</form>
				</div>
			</div>
			<div class="well">
				<div class="text-right">
					<a class="btn btn-success" href="/restaurants/<%= restaurant._id %>/comments/new">add new comment</a>
				</div>
				<hr>
				<% restaurant.comments.forEach(function(comment){ %>
					<div class="row">
						<div class="col-md-12">
							<strong><%= comment.author.username %></strong>
							<span class="pull-right"> 7 days ago </span>
							<p>
								<%= comment.text %>		
							</p>
						</div>
					</div>
				<% }); %>
			</div>
		</div>
	</div>
</div>



<%- include("../partials/footer.ejs") %>